@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}
#root{
  background-color: rgb(240, 240, 240, 1);
}
.hero_image {
  position: absolute;
  top: -73vh;
  left: 0vh;
  transform: translate(50%, 50%);
  height: auto;
  margin: auto;
  z-index: -9999;
}
.link_text {
  width: 100%;
  text-decoration: none;
  color: black;
}
.active {
  /* background-color: black; */
  background-color: rgba(177, 212, 254, 0.9);
  color: black;
  border-radius: 5px;
}

.attachFileSpan {
  color: #2b6dad;
  cursor: pointer;
}
.attachFileSpan:hover {
  text-decoration: underline;
}
#file_input {
  display: none;
}

.input_file_text {
  cursor: pointer;
  border: 1px dashed #2b6dad;
  border-style: dashed;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.pdf_link{
  text-decoration: none;
  color: #008cff;
}
.pdf_link:hover{
  text-decoration: underline;
}