::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1919;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.heading_text {
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff0052),
    to(#8e2b88)
  );
  /* background: -webkit-gradient(
    74deg,
    "#4285f4" 0,
    "#9b72cb" 9%,
    "#d96570" 20%,
    "#d96570" 24%,
    "#9b72cb" 35%,
    "#4285f4" 44%,
    "9b72cb" 50%,
    "#d96570" 56%,
    "#131314" 75%,
    "#131314" 100%
  ); */
  -webkit-background-clip: text;
}
