::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1919;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.heading_text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    to right,
    #4285f4 0,
    #9b72cb 9%,
    #d96570 20%,
    #d96570 24%,
    #9b72cb 35%,
    #4285f4 44%,
    #9b72cb 50%,
    #d96570 56%,
    #4285f4 75%,
    #9b72cb 100%
  );
  -webkit-background-clip: text;
}
.chat_input {
  background-color: #1a1919;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 20px 15px;
  width: 100%;
  font-size: 1rem;
  outline: none;
}
.send_button_icon {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 999;
}

.send_button_icon_circle {
  position: absolute;
  top: 8px;
  right: 7px;
  z-index: 999;
}
